<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
  <title>My Message App</title>
</head>

<body>

	<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Chat Application</a>
        <div class="nav navbar-right">
        <div class="navbar-text">
            <a href="/auth/login">Login</a>

        </div>
        </div>
      </div> <!-- / nav container -->
    </nav>
    <div class="row">
      <div class="col-md-12">
          </br>
          </br>
          </br>
          <h1>Welcome to the REST API chat project</h1>
          <h2>In order to send and retreive messages you must be registered</h2>
          <h3>To create,manage and delete users enter as admin to the route .../admin</h3>
      </div>
    </div>
  </div>

</body>
